h1,
p,
body {
    margin: 0px;
}

p {
    font-size: 20px;
}

.contents p:nth-of-type(2)::first-letter {
    font-weight: bold;
    color: rgb(97, 206, 249);
  }

a {
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
}

header {
    margin-bottom: 20px;
    background-color: rgb(244, 79, 79);
    text-align: center;

}

h1 {
    color: rgb(255, 255, 255);
}

h2 {
    font-size: 25px;
    border-bottom: 3px dotted rgb(236, 122, 122);
}

h2::before {
    content: "●"; /* 記号を文字列として指定 */
    color: rgb(239, 111, 139);
    margin-right: 5px; /* 記号とテキストの間にスペースを追加 */
  }

main {
    padding: 10px;
}

.contents{
    border: 3px solid rgb(238, 204, 204);
    flex-basis: 30%;
    padding: 10px 15px;
    margin: 10px;
    text-align: center;
    box-sizing: border-box;
}


#parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


footer{
    margin-bottom: 20px;
    background-color: rgb(244, 79, 79);
    text-align: center;
     
}

@media screen and (max-width: 768px) {
    #parent {
        flex-direction: column;
        align-items: center;
    }

    .contents {
        width: 100%;
        max-width: 400px;
    }
}
